boto3==1.21.1
botocore==1.24.1
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
Flask==2.0.3
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
marshmallow==3.11.1
pdf2image==1.16.0
Pillow==9.0.1
python-dateutil==2.8.2
requests==2.27.1
s3transfer==0.5.1
six==1.16.0
tabulate==0.8.9
urllib3==1.26.8
Werkzeug==2.0.3
